@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap");
body {
    margin: 0;
    background: #a4a9af;
}
#reloj{
    padding-top: 15%;
    padding-left: 15%;
}

main {
    margin: 35px;
    padding-top: 20%;
    background: #abb0b6;
}

header {
    background: black;
    position: fixed;
    top: 0;
    width: 100%;
}

header img {
    height: 40px;
    width: 40px;
    background: black;
}

h1 {
    text-align: center;
    margin-top: 2%;
    font-family: 'Raleway', sans-serif;
    display: grid;
}

.boton {
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 25px;
}

.boton:hover {
    color: #1883ba;
    background-color: #ffffff;
}

h2 {
    text-align: center;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    display: -ms-grid;
    display: grid;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #495057;
}

h4 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: "Lora", serif;
}

article img {
    float: left;
    height: 250px;
    width: 250px;
    margin-right: 20px;
}

div img {
    height: 250px;
    width: 250px;
}

div a img {
    height: 40px;
    width: 40px;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    background: black;
    padding: 25px;
    color: white;
}

footer a {
    color: white;
}

footer img {
    height: 25px;
    width: 25px;
}

ul,
ol,
li {
    list-style: outside none none;
}

#cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: scroll;
}

#cards div {
    padding-left: 20px;
}

#detall {
    margin-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
}

#detall img {
    width: 100%;
    margin-bottom: 5%;
}

#busqueda {
    margin-top: 5%;
    padding-left: 30%;
}

#busqueda h5 {
    padding-top: 2%;
}

#busqueda article img {
    width: 50px;
    height: 50px;
}

#noticias article {
    margin-bottom: 5%;
}

#noticias {
    margin-top: 2%;
}

.container {
    margin-bottom: 3%;
    margin-top: 3%;
    display: flex;
}

.card {
    width: 30%;
    flex-wrap: wrap;
    float: left;
    margin-left: 3%;
    text-align: center;
}

video {
    padding-left: 5%;
    width: 400px;
    height: 480;
}

@media (min-width: 570px) {
    main {
        padding-top: 15%;
    }
    #busqueda article {
        padding-bottom: 100px;
    }
    #detall {
        padding-left: 20%;
        padding-right: 20%;
    }
    #busqueda article img {
        width: 70px;
        height: 70px;
    }
    #noticias article {
        margin-bottom: 100px;
    }
    video {
        padding-left: 10%;
        width: 550px;
        height: 480;
    }
}

@media (min-width: 768px) {
    #busqueda article {
        padding-bottom: 150px;
    }
    form {
        padding-left: 25%;
    }
    #detall {
        padding-left: 25%;
        padding-right: 25%;
    }
    #detall img {
        width: 70%;
    }
    #busqueda article img {
        width: 75px;
        height: 75px;
    }
    #noticias {
        display: flex;
        flex-wrap: wrap;
    }
    #noticias article {
        width: 40%;
        height: 5%;
        padding-left: 15%;
    }
    video {
        padding-left: 13%;
        width: 730px;
        height: 480;
    }
}

@media (min-width: 992px) {
    main {
        padding-top: 10%;
    }
    nav form {
        padding-left: 250px;
    }
    #detall {
        margin-top: 3%;
        padding-left: 15%;
        padding-right: 15%;
    }
    #detall img {
        width: 250px;
        margin-right: 5%;
        margin-bottom: 3%;
    }
    #busqueda article img {
        width: 85px;
        height: 85px;
    }
    video {
        padding-left: 3%;
        width: 970px;
        height: 480;
    }
}

@media (min-width: 1200px) {
    main {
        padding-top: 2%;
        margin-left: 150px;
        margin-right: 150px;
    }
    video {
        padding-left: 15%;
    }
}


/*# sourceMappingURL=style.css.map */