@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');

body{
    margin: 0;
    background: #c9daea;
}
main{
    margin: 35px;
}
header{
    background: black;
    display: flex;
    align-items: flex-end;
    justify-content: right;
}
header img{
    height:40px;
    width: 40px;  
    background: black;  
}
h1{
    font-family: 'Raleway', sans-serif;
}

h2{
    font-family: 'Raleway', sans-serif;
}
h3{
    font-family: 'Raleway', sans-serif;
    color: #495057;
}
h4{
    font-family: 'Raleway', sans-serif;
}
p{
    font-family: "Lora",serif;
}

img{
    height: auto;
    width: 660px;
}
article img{
    float: left;
    height: 250px;
    width: 250px;
    margin-right: 20px;
}

article{
    width: 70%;
    
}
article h3{
    margin-bottom: 7%;
}
div img{
    height: 250px;
    width: 250px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: black;
    padding: 25px;
    color: rgb(255, 255, 255);
}

footer a{
    color: rgb(255, 255, 255);
}
footer img{
    height:25px;
    width: 25px;
}
