@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap');

body
    margin: 0
    background: #a4a9af
    
main
    margin: 35px    
    padding-top: 20%
    background: #abb0b6

    
header
    background:  black
    position: fixed
    top: 0
    width: 100%

    img
        height: 40px
        width: 40px
        background: black

h1
    font-family: 'Raleway', sans-serif
    justify-content: center
    display: grid


h2
    font-family: 'Raleway', sans-serif
    display: grid
    

h3
    font-family: 'Raleway', sans-serif
    color: #495057

h4
    font-family: 'Raleway', sans-serif

p
    font-family: "Lora",serif


img
    height: auto
    width: 660px

article 
    width: 50%
    img
        float: left
        height: 250px
        width: 250px
        margin-right: 20px
    
div 
    img
        height: 250px
        width: 250px

    a img
        height: 40px
        width: 40px

footer
    display: flex
    flex-direction: row
    justify-content: space-around
    background: black
    padding: 25px
    color: rgb(255, 255, 255)

    a
        color: rgb(255, 255, 255)
    
    img
        height: 25px
        width: 25px


ul, ol, li 
    list-style: outside none none

.control-menu 
    display: block
    float: right
    margin-right: 1.3em

.control-menu .close 
    display: none

ul.nav-items 
    clear: both
    height: 0
    overflow: hidden
    transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s

#menu:target ul.nav-items 
    height: 15.8em
    transition: height 0.4s ease-in-out 0s, background-color 0.9s ease 0s

#menu:target .open 
    display: none

#menu:target .close 
    display: block

ul.nav-items li 
    display: block

ul.nav-items a 
    color: #ffffff
    display: block
    height: 3em
    line-height: 3em
    margin: 0 1.3em

ul.nav-items li:first-child a 
    border-top: 2px solid transparent


#cards
    display: flex
    overflow-y: scroll

    div
        padding-left: 20px



@media (min-width:570px)
    main
        padding-top: 15% 
    article
        padding-bottom: 100px
        

@media (min-width: 768px) 
    article
        padding-bottom: 150px


@media (min-width: 992px) 
    main
        padding-top: 10% 


@media (min-width: 1200px) 
    main
        padding-top: 2%
        margin-left: 150px    
        margin-right: 150px

    h2
        justify-content: center
        